body {
  background-image: url(addddd.jpg);
  background-size: cover;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

h1 {
  text-decoration: white wavy underline;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.same {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  width: 60%;
  text-align: center;
}

#list {
  padding: 15px 20px;
  font-size: 20px;
  line-height: 1.7;
  text-align: left;
}

#formate {
  width: 61%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
}

#exam {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: left;
  padding: 20px;
}

main {
  padding-bottom: 130px;
}


@media(max-width: 780px) {
  .same {
    width: 95%;
  }

  #list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
  }

  #formate {
    width: 82%;
  }

  #exam {
    width: 95%;
  }

  li {
    width: 90%;
  }
}

@media(max-width: 468px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  .same {
    font-size: 15px;
    width: 95%;
  }

  #list {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #formate {
    width: 82%;
  }

  #exam {
    width: 95%;
    font-size: 14px;
  }

  li {
    width: 90%;
  }
}